<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Примеры решения задач</title>
        <link rel="stylesheet" type="text/css" href="{ТАБЛИЦА СТИЛЕЙ}" >
        <script src='javascripts/jquery-3.3.1.min.js'></script>
        <script src='{СКРИПТ JS}'></script>
        <script type='text/javascript'>
            // Задаём имя фона
            backgroundName = "{ФОНОВОЕ ИЗОБРАЖЕНИЕ}";
        </script>
    <head>
    <body class='testcase-select-document'>
        <div class='testcase-glass-matt'>
            <h1>Приветствую, товарищи.</h1>
            
            <h2 id='aboutpage_button'>Об этой странице</h2>
            <span id='aboutpage_content'>
                <p class='testcase-default-content' id='aboutpage_content'>
                    <div class='testcase-commented'>
                        <i>Disclaimer.</i> Эта страница изготавливалась под браузер <b>Google Chrome</b>, и сознательно не проверялась в других браузерах.<br />
                        Она может как работать, так и не работать в FF и/или Опере, и, скорее всего, она не заработает в IE (у меня IE даже узел localhost не нашёл %) ). <br />
                        Цель этой страницы лишь в минимальном оформлении решения задачи на PHP, и только.
                    </div>
                    Испокон веков на рынке труда существует одна хорошая традиция.<br />
                    При трудоустройстве соискатель предоставляет работодателю небольшую демонстрацию своих навыков.<br />
                    Если это происходит в реальном времени, то данный процесс называется испытанием. <br />
                    Если же соискатель побеспокоился о материале загодя - набор материалов называют <strong>"Портфолио"</strong>.<br />
                </p>
                
                <p class='testcase-default-content'>
                    На этой странице собраны результаты тестовых заданий, которые были предложены мне в течение прошлых попыток трудоустройства.<br />
                    Надеюсь, что их будет достаточно для понимания того, каков примерный уровень исполнителя на момент создания данной страницы.<br />
                </p>
            </span>
            
            <h2 id='aboutme_button'>Обо мне</h2>
            <p class='testcase-default-content' id='aboutme_content'>
                Меня зовут <strong>Игорь</strong>, я родился в марте 1989г. в Украинской АССР.<br />
                Окончил <strong>Мытищинскую Школу Программистов</strong> в 2005г., в 2006 поступил в МГУ им. Ломоносова на факультет ВМК, откуда был отчислен в конце 2007г.<br />
                Поскольку Вы читаете эту страницу, велика вероятность того, что в данный момент я ищу работу программистом.<br />
                Рассматриваю в первую очередь вакансии, связанные с разработкой back-end на языке <strong>PHP</strong>.<br />
                Кроме этого умею делать front-end, Standalone-Win32 приложения (BCB C++, Delphi, VB/A) и много других глупостей.<br />
                Активно использую HTML, JS, CSS. Дружу с документацией и с поиском, но главное - с головой и здравым смыслом.<br />
            </p>
            
            <h2>Доступные задания</h2>
            <p class='testcase-default-content'>
                Здесь представлен перечень заданий, реализованных на текущий момент.<br />
                Их не так уж много, всего {КОЛИЧЕСТВО ЗАДАНИЙ} шт., но думаю, что этого достаточно для краткой демонстрации.<br />
            </p>
            {ФОРМА ВЫБОРА ЗАДАНИЙ}
        </div>
    </body>
</html>